.CutchaLoading {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

@keyframes loading-fade {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: -200% 0;
    }
}

.DragAreaStub {
    display: flex;
    align-items: center;
    height: 100%;
}

.StartAreaStub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    height: 100%;

    border: 1px dashed #9a9a9a;
    border-right: none;
    border-radius: 2em 0 0 2em;
}

.PuzzlePieceStub {
    width: 12vw;
    height: 25%;

    animation: loading-fade 2.5s ease infinite;
    background: linear-gradient(90deg, #38383a, #3e4042, #39393d);
    background-size: 200%;

    border-radius: 1em;
}

.PuzzleMainStub {
    border-radius: 0 2em 2em 0;
    height: 100%;
    width: 1500px;

    animation: loading-fade 1.75s ease infinite;
    background: linear-gradient(90deg, #272729, #343536, #272729);
    background-size: 200%;
}

.SubmitStub {
    height: 4em;
    width: 4em;

    border-radius: 1em;

    animation: loading-fade 1.5s ease infinite;
    background: linear-gradient(90deg, #80ffce, #94fac7, #75fd97);
    background-size: 200%;
}

@media screen and (min-width: 1000px) {
    .PuzzlePieceStub {
        border-radius: 2em;
    }
}
