.CutchaHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.CutchaId {
    text-transform: uppercase;
}

.btn {
    padding: 0 0.75em;
    border: none;
    border-radius: 0.5em 0.5em 0 0;
    background-color: #ffe7b9;
    cursor: pointer;
    color: darkgreen;
}

.btn.report {
    color: crimson;
}

.btn:focus {
    outline: none;
}
